.content {
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;

    &__item {
        padding: 20px;
        border: 1px solid #222;
        font-family: sans-serif;

        &__name {
            text-align: center;
            color: #333;
        }

        &__link {
            text-decoration: none;
        }
    }
}